### Práctica de Acceso a bases de datos

Considerar una base de datos acerca de la liga de baloncesto formada por dos tablas:

__Tabla "equipos"__:

* registro	Numérico (Valor único)
* nombre	Cadena
* nombre_entrenador	Cadena
* nombre_cancha	Cadena
* poblacion	Cadena
* anio_fundacion	Numérico
* anotaciones 	Cadena	 


__Tabla "partidos"__:

* registro	Numérico (Valor único)
* id_equipo1	Numérico	
* resultado_equipo1	Numérico	
* id_equipo2	Numérico	
* resultado_equipo2	Numérico

__Valores de tabla Equipos__:

1, 'Winterthur F.C. Barcelona', 'Dusko Ivanovic', 'Palau Blaugrana', 'BARCELONA', 1926, 'Ganador de copa de Europa'

2, 'Real Madrid', 'Joan Plaza', 'Palacio de Vistalegre', 'MADRID', 1932, 'Ganador de copa de Europa y varias ligas'

3, 'Club Baloncesto Estudiantes', 'Pedro Martínez', 'Madrid Arena', 'MADRID', 1948, ''

4, 'Unicaja Málaga', 'Sergio Scariolo', 'Palacio de Deportes', 'MALAGA', 1992, 'Último ganador de la liga ACB 2006'

5, 'Caja San Fernando', 'Manel Comas', 'Palacio municipal de los deportes San Pablo', 'SEVILLA', 1987, ''

6, 'TAU Cerámica', 'Velimir Perasovic', 'Fernando Buesa Arena', 'VITORIA', 1959, ''

7, 'Joventut de Badalona', 'Aíto García Reneses', 'Pabellón Olímpico de Badalona', 'BADALONA', 1930, ''

__Valores de tabla Partidos__:

1, 1, 7, 100, 99

2, 1, 3, 66, 45

3, 2, 3, 68, 92

4, 7, 1, 50,60

5, 5, 1, 76, 45

6, 2, 1, 99, 98

7, 6, 1, 101, 103

8, 6, 2, 80, 85

9, 3, 5, 80, 80

10, 3, 1, 57, 65

11, 3, 2, 67, 58

Se pide:
1.  Hacer una función que cree la base de datos "baloncesto" con sus tablas y datos correspondientes (2.5 puntos)
2.  Resolver las siguientes consultas(7.5 puntos):

   * El número de equipos y población agrupados por la población ordenados decrecientemente  por el número de equipos
   
   * Partidos jugados: nombre del equipo1, nombre del equipo2, resultado equipo1, resultado equipo2 ordenados por el nombre del equipo1
   
   * Nº total de partidos jugados y nombre del equipo ordenado decrecientemente por el nº de partidos jugados.
   
   
   * Hallar la media de la puntuación de cada equipo y nombre del equipo ordenada decrecientemente por el nº de puntos
   
   * Hallar la máxima diferencia de puntos entre todos los partidos de los equipos añadiendo el nombre  del equipo1 y equipo2 ordenados descrecientemente por el nuevo campo calculado máxima diferencia de puntos.
   
   * Mostrar los campos nombre, nombre del entrenador, nombre de la cancha, población y año de fundación  de todos los equipos que se hayan jugado ningún partido.

#### Normas de entrega

* Fecha tope de entrega: 5/10/2020
* La entrega se realizará subiendo al campus virtual un notebook de Jupyter con la solución. El archivo tendrá como nombre BasesDatos_GrupoX donde X será el número de grupo correspondiente.

In [11]:
######################################
##########   EJERCICIO 1    ##########
######################################

def crearTablas(conn):

    cur=conn.cursor()
    
    #Borramos las tablas en caso de que ya existan en la BD
    cur.execute("DROP TABLE IF EXISTS Equipos")
    cur.execute("DROP TABLE IF EXISTS Partidos")

    conn.commit()

    #Creamos las tablas con sus diferentes campos indicando las claves y referencias
    cur.execute("CREATE TABLE Equipos (idE INTEGER PRIMARY KEY, nombre TEXT, entrenador TEXT, cancha TEXT, poblacion TEXT, anio INTEGER, anotaciones TEXT)")
    cur.execute("CREATE TABLE Partidos (idP INTEGER PRIMARY KEY, idE1 INTEGER REFERENCES Equipos(idE), idE2 INTEGER REFERENCES Equipos(idE), result1 INTEGER, result2 INTEGER)")
    cur.close()

    conn.commit()

def cargarTablas(conn):
    cur=conn.cursor()
    #Equipos
    equipos=[(1, "Winterthur F.C. Barcelona", "Dusko Ivanovic", "Palau Blaugrana", "BARCELONA", 1926, "Ganador de copa de Europa"),
            (2, "Real Madrid", "Joan Plaza", "Palacio de Vistalegre", "MADRID", 1932, "Ganador de copa de Europa y varias ligas"),
            (3, "Club Baloncesto Estudiantes", "Pedro Martinez", "Madrid Arena", "MADRID", 1948, ""),
            (4, "Unicaja Málaga", "Sergio Scariolo", "Palacio de Deportes", "MALAGA", 1992, "Ultimo ganador de la liga ACB 2006"),
            (5, "Caja San Fernando", "Manel Comas", "Palacio municipal de los deportes San Pablo", "SEVILLA", 1987, ""),
            (6, "TAU Ceramica", "Velimir Perasovic", "Fernando Buesa Arena", "VITORIA", 1959, ""),
            (7, "Joventut de Badalona", "Aito Garcia Reneses", "Pabellón Olímpico de Badalona", "BADALONA", 1930, "")]

    #Cargamos datos en la tabla Equipos
    cur.executemany("INSERT INTO Equipos (idE, nombre, entrenador, cancha, poblacion, anio, anotaciones) VALUES (?,?,?,?,?,?,?)", equipos)
    
    #Partidos
    partidos=[(1, 1, 7, 100, 99), (2, 1, 3, 66, 45), (3, 2, 3, 68, 92), (4, 7, 1, 50, 60), (5, 5, 1, 76, 45), (6, 2, 1, 99, 98),
            (7, 6, 1, 101, 103), (8, 6, 2, 80, 85), (9, 3, 5, 80, 80), (10, 3, 1, 57, 65), (11, 3, 2, 67, 58)]

    #Cargamos datos en la tabla Partidos
    cur.executemany("INSERT INTO Partidos (idP, idE1, idE2, result1, result2) VALUES (?,?,?,?,?)", partidos)
    
    #Comprobamos que se han insertado los datos correctamente haciendo un print
    cur.execute("SELECT * FROM Equipos")
    print(cur.fetchall())
    cur.execute("SELECT * FROM Partidos")
    print(cur.fetchall())
    
    cur.close()
    conn.commit()
    
# ----------- Creación y conexión con la BD ------------    
import sqlite3
conn=sqlite3.connect("liga.sqlite3")
crearTablas(conn)
cargarTablas(conn)

[(1, 'Winterthur F.C. Barcelona', 'Dusko Ivanovic', 'Palau Blaugrana', 'BARCELONA', 1926, 'Ganador de copa de Europa'), (2, 'Real Madrid', 'Joan Plaza', 'Palacio de Vistalegre', 'MADRID', 1932, 'Ganador de copa de Europa y varias ligas'), (3, 'Club Baloncesto Estudiantes', 'Pedro Martinez', 'Madrid Arena', 'MADRID', 1948, ''), (4, 'Unicaja Málaga', 'Sergio Scariolo', 'Palacio de Deportes', 'MALAGA', 1992, 'Ultimo ganador de la liga ACB 2006'), (5, 'Caja San Fernando', 'Manel Comas', 'Palacio municipal de los deportes San Pablo', 'SEVILLA', 1987, ''), (6, 'TAU Ceramica', 'Velimir Perasovic', 'Fernando Buesa Arena', 'VITORIA', 1959, ''), (7, 'Joventut de Badalona', 'Aito Garcia Reneses', 'Pabellón Olímpico de Badalona', 'BADALONA', 1930, '')]
[(1, 1, 7, 100, 99), (2, 1, 3, 66, 45), (3, 2, 3, 68, 92), (4, 7, 1, 50, 60), (5, 5, 1, 76, 45), (6, 2, 1, 99, 98), (7, 6, 1, 101, 103), (8, 6, 2, 80, 85), (9, 3, 5, 80, 80), (10, 3, 1, 57, 65), (11, 3, 2, 67, 58)]

In [12]:
######################################
##########   EJERCICIO 2    ##########
######################################



#EJECUTAR PRIMERO ESTA CELDA PARA CONECTARSE A LA BASE DE DATOS Y CREAR EL CURSOR PARA LAS CONSULTAS

import sqlite3
conn=sqlite3.connect("liga.sqlite3")
cur=conn.cursor()

In [13]:
#Consulta 1. El número de equipos y población agrupados por la población ordenados decrecientemente por el número de equipos

cur.execute("SELECT poblacion, COUNT(poblacion) AS [NumEquipos] FROM Equipos GROUP BY poblacion ORDER BY [NumEquipos] DESC")

consulta=cur.fetchall()
for row in consulta:
    print("Poblacion: " + str(row[0]) + " --- Num. equipos: " + str(row[1]))

Poblacion: MADRID --- Num. equipos: 2
Poblacion: VITORIA --- Num. equipos: 1
Poblacion: SEVILLA --- Num. equipos: 1
Poblacion: MALAGA --- Num. equipos: 1
Poblacion: BARCELONA --- Num. equipos: 1
Poblacion: BADALONA --- Num. equipos: 1

In [14]:
#Consulta 2. Partidos jugados: nombre del equipo1, nombre del equipo2, resultado equipo1, resultado equipo2 
#ordenados por el nombre del equipo1

cur.execute("SELECT e.nombre, p.result1, e2.nombre, p.result2 FROM Equipos e, Equipos e2, Partidos p WHERE e.idE = p.idE1 AND e2.idE = p.idE2 ORDER BY e.nombre")

consulta=cur.fetchall()
for row in consulta:
    print(str(row[0]) + " - " + str(row[2]) + " ----- RESULTADO: ----- " + str(row[1]) + " - " + str(row[3]))

Caja San Fernando - Winterthur F.C. Barcelona ----- RESULTADO: ----- 76 - 45
Club Baloncesto Estudiantes - Caja San Fernando ----- RESULTADO: ----- 80 - 80
Club Baloncesto Estudiantes - Winterthur F.C. Barcelona ----- RESULTADO: ----- 57 - 65
Club Baloncesto Estudiantes - Real Madrid ----- RESULTADO: ----- 67 - 58
Joventut de Badalona - Winterthur F.C. Barcelona ----- RESULTADO: ----- 50 - 60
Real Madrid - Club Baloncesto Estudiantes ----- RESULTADO: ----- 68 - 92
Real Madrid - Winterthur F.C. Barcelona ----- RESULTADO: ----- 99 - 98
TAU Ceramica - Winterthur F.C. Barcelona ----- RESULTADO: ----- 101 - 103
TAU Ceramica - Real Madrid ----- RESULTADO: ----- 80 - 85
Winterthur F.C. Barcelona - Joventut de Badalona ----- RESULTADO: ----- 100 - 99
Winterthur F.C. Barcelona - Club Baloncesto Estudiantes ----- RESULTADO: ----- 66 - 45

In [15]:
#Consulta 3. Nº total de partidos jugados y nombre del equipo ordenado decrecientemente por el nº de partidos jugados.

cur.execute("SELECT e.nombre, COUNT(p.idP) AS [NumPartidos] FROM Equipos e, Partidos p WHERE e.idE = p.idE1 OR e.idE = p.idE2 GROUP BY nombre ORDER BY [NumPartidos] DESC")

consulta=cur.fetchall()
for row in consulta:
    print("Equipo: " + str(row[0]) + " ----- Num. Partidos: " + str(row[1]))

Equipo: Winterthur F.C. Barcelona ----- Num. Partidos: 7
Equipo: Club Baloncesto Estudiantes ----- Num. Partidos: 5
Equipo: Real Madrid ----- Num. Partidos: 4
Equipo: TAU Ceramica ----- Num. Partidos: 2
Equipo: Joventut de Badalona ----- Num. Partidos: 2
Equipo: Caja San Fernando ----- Num. Partidos: 2

In [16]:
#Consulta 4. Hallar la media de la puntuación de cada equipo y nombre del equipo ordenada decrecientemente por el nº de puntos
#Hacemos la media de la unión de dos consultas:

# 1º Consulta: Muestra los resultados de los partidos del equipo en E1
# 2º Consulta: Muestra los resultados de los partidos del equipo en E2
# Tras hacer el UNION ALL, se hace la media de todos los resultados de los partidos jugados de cada equipo

cur.execute("SELECT e.nombre, AVG((SELECT p.result1 WHERE e.idE = p.idE1 UNION ALL SELECT p.result2 WHERE e.idE = p.idE2)) AS [Media] FROM Equipos e, Partidos p GROUP BY e.nombre ORDER BY [Media]")
consulta=cur.fetchall()
for row in consulta:
    print(str(row[0]) + " " + str(row[1]))

Unicaja Málaga None
Club Baloncesto Estudiantes 68.2
Joventut de Badalona 74.5
Winterthur F.C. Barcelona 76.71428571428571
Real Madrid 77.5
Caja San Fernando 78.0
TAU Ceramica 90.5

In [17]:
#Consulta 5. Hallar la máxima diferencia de puntos entre todos los partidos de los equipos añadiendo 
#el nombre del equipo1 y equipo2 ordenados descrecientemente por el nuevo campo calculado máxima diferencia de puntos.

cur.execute("SELECT e.nombre, ABS(p.result1 - p.result2), e2.nombre FROM Equipos e, Equipos e2, Partidos p WHERE e.idE = p.idE1 AND e2.idE = p.idE2")

consulta=cur.fetchall()
for row in consulta:
    print(str(row[0]) + " ----- " + str(row[1]) + " ------- " + str(row[2]))

Winterthur F.C. Barcelona ----- 1 ------- Joventut de Badalona
Winterthur F.C. Barcelona ----- 21 ------- Club Baloncesto Estudiantes
Real Madrid ----- 24 ------- Club Baloncesto Estudiantes
Joventut de Badalona ----- 10 ------- Winterthur F.C. Barcelona
Caja San Fernando ----- 31 ------- Winterthur F.C. Barcelona
Real Madrid ----- 1 ------- Winterthur F.C. Barcelona
TAU Ceramica ----- 2 ------- Winterthur F.C. Barcelona
TAU Ceramica ----- 5 ------- Real Madrid
Club Baloncesto Estudiantes ----- 0 ------- Caja San Fernando
Club Baloncesto Estudiantes ----- 8 ------- Winterthur F.C. Barcelona
Club Baloncesto Estudiantes ----- 9 ------- Real Madrid

In [19]:
#Consulta 6. Mostrar los campos nombre, nombre del entrenador, nombre de la cancha, población y año de fundación
#de todos los equipos que se hayan jugado ningún partido.

cur.execute("SELECT nombre, entrenador, cancha, poblacion, anio FROM Equipos WHERE idE NOT IN (SELECT idE1 FROM Partidos) AND idE NOT IN (SELECT idE2 FROM Partidos)")
consulta=cur.fetchall()
for row in consulta:
    print("Nombre: " + str(row[0]) + "\nEntrenador: " + str(row[1]) + "\nCancha: " + str(row[2]) + "\nPoblacion: " + str(row[3]) + "\nFundación: " + str(row[4]))

Nombre: Unicaja Málaga
Entrenador: Sergio Scariolo
Cancha: Palacio de Deportes
Poblacion: MALAGA
Fundación: 1992